{{ define "main" }}

  <section class="section politica-de-privacidade">
    <div class="container container--tick">
      <div class="stack stack--expansive">
        <div class="content">
          <a class="brand brand--center" href="/" title="Voltar para a página inicial">
            {{ partial "svg.html" (dict "viewBox" "0 0 215 30" "src" "/vectors/logo-gabriela-luxo.svg" "ariaLabel" "Gabriela Luxo") }}
          </a>
        </div>
        <div class="content text-center">
          <h1 class="headline headline--lg">Política de privacidade</h1>
          <p>Atualizado em <time datetime="2023-04-19">19/04/2023</time></p>
        </div>
        <div class="grid" style="--align: flex-start">
          <div class="politica-de-privacidade__nav" style="--column: span 4">
            <nav class="content">
              <h2 class="headline headline--md">Índice</h2>
              <ol class="list">
                <li><a href="#informacoes-gerais">Informações gerais</a></li>
                <li><a href="#direitos-do-usuario">Direitos do usuário</a></li>
                <li><a href="#dever-de-nao-fornecer-dados-de-terceiros">Dever de não fornecer dados de terceiros</a></li>
                <li><a href="#informacoes-coletadas">Informações coletadas</a></li>
                <li><a href="#do-tratamento-dos-dados-pessoais">Do tratamento dos dados pessoais</a></li>
                <li><a href="#seguranca-no-tratamento-dos-dados-pessoais-do-usuario">Segurança no tratamento dos dados pessoais do usuário</a></li>
                <li><a href="#dados-de-navegacao">Dados de navegação (cookies)</a></li>
                <li><a href="#manter-os-dados-pessoais-do-usuario-em-seguranca">Manter os dados pessoais do Usuário em segurança</a></li>
                <li><a href="#das-alteracoes">Das alterações</a></li>
                <li><a href="#do-direito-aplicavel-e-do-foro">Do Direito aplicável e do foro</a></li>
              </ol>
            </nav>
          </div>
          <ol class="politica-de-privacidade__content" style="--column: span 6">
            <li class="content">
              <h2 class="headline headline--md" id="informacoes-gerais">Informações gerais</h2>
              <p>A presente Política de Privacidade contém informações a respeito do modo como tratamos, total ou parcialmente, de forma automatizada ou não, os dados pessoais dos usuários que acessam nosso site. Seu objetivo é esclarecer os interessados acerca dos tipos de dados que são coletados, dos motivos da coleta e da forma como o usuário poderá atualizar, gerenciar ou excluir estas informações.</p>
              <p>Esta Política de Privacidade foi elaborada em conformidade com a Lei Federal n. 12.965 de 23 de abril de 2014 (<a href="http://www.planalto.gov.br/ccivil_03/_ato2011-2014/2014/lei/l12965.htm" target="_blank" rel="noreferrer noopener">Marco Civil da Internet</a>), com a Lei Federal n. 13.709, de 14 de agosto de 2018 (<a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm" target="_blank" rel="noreferrer noopener">Lei de Proteção de Dados Pessoais</a>) e com o Regulamento UE n. 2016/679 de 27 de abril de 2016 (<a href="https://ec.europa.eu/info/law/law-topic/data-protection/data-protection-eu_en" target="_blank" rel="noreferrer noopener">Regulamento Geral Europeu de Proteção de Dados Pessoais – RGDP</a>).</p>
              <p>Esta Política de Privacidade poderá ser atualizada em decorrência de eventual atualização normativa, razão pela qual se convida o usuário a consultar periodicamente esta seção.</p>
              <ol>
                <li class="content">
                  <h3 class="headline headline--md">Definições</h3>
                  <p><strong>Usuário</strong>: todas as pessoas físicas que utilizarão ou visitarão o site e/ou aplicativos, maiores de 18 (dezoito) anos ou emancipados e totalmente capazes de praticas os atos da vida civil ou os absolutamente ou relativamente incapazes devidamente representados ou assistidos.</p>
                  <p><strong>Dados pessoais</strong>: significa quaisquer informações fornecidas e/ou coletadas por Gabriela Luxo e/ou suas filiadas, por qualquer meio, ainda que públicos, que: (a) identifiquem, ou quando usadas em combinação com outras informações tratadas pela Gabriela Luxo identifiquem um indivíduo; (ii) por meio das quais a identificação ou informações de contato de uma pessoa física possam ser derivadas. Os Dados Pessoas não incluem telefone comercial, número de celular comercial, endereço comercial ou e-mail comercial.</p>
                  <p><strong>Finalidade</strong>: o objetivo, o propósito que a Gabriela Luxo deseja alcançar a partir de cada ato de tratamento das informações pessoais.</p>
                  <p><strong>Base legal</strong>: fundamentação legal que torna legítimo o tratamento de dados pessoais para uma determinada finalidade prévia por parte da Gabriela Luxo.</p>
                  <p><strong>Consentimento</strong>: autorização expressa e inequívoca dada pelo Usuário do dado pessoal para que a Gabriela Luxo trate seus dados pessoais para uma finalidade previamente descrita, na qual a base legal necessária para o ato demande a autorização expressa do titular.</p>
                  <p>Ao acessar e/ou utilizar o site da Gabriela Luxo, o Usuário declara ter no mínimo 18 (dezoito) anos e ter capacidade plena e expressa para aceitação dos termos e condições desta Política de Privacidade e do Termo de Consentimento para todos os fins de direito.</p>
                  <p>Caso o Usuário não se enquadre na descrição acima e/ou não concorde, ainda que em parte, com os termos e condições contidas na presente Política de Privacidade, não deverá acessar e/ou utilizar os serviços oferecidos pela Gabriela Luxo bem como sites e serviços por ela operadas.</p>
                </li>
              </ol>
            </li>
            <li class="content">
              <h2 class="headline headline--md" id="direitos-do-usuario">Direitos do usuário</h2>
              <p>O site se compromete a cumprir as normas previstas no LGDP, em respeito aos seguintes princípios:</p>
              <ul class="list list--bullet">
                <li>Os dados pessoais do usuário serão processados de forma lícita, leal e transparente (licitude, lealdade e transparência);</li>
                <li>Os dados pessoais do usuário serão coletados apenas para finalidades determinadas, explícitas e legítimas, não podendo ser tratados posteriormente de uma forma incompatível com essas finalidades (limitação das finalidades);</li>
                <li>Os dados pessoais do usuário serão coletados de forma adequada, pertinente e limitada às necessidades do objetivo para os quais eles são processados (minimização dos dados);</li>
                <li>Os dados pessoais do usuário serão exatos e atualizados sempre que necessário, de maneira que os dados inexatos sejam apagados ou retificados quando possível (exatidão);</li>
                <li>Os dados pessoais do usuário serão conservados de uma forma que permita a identificação dos titulares dos dados apenas durante o período necessário para as finalidades para as quais são tratados (limitação da conservação);</li>
                <li>Os dados pessoais do usuário serão tratados de forma segura, protegidos do tratamento não autorizado ou ilícito e contra a sua perda, destruição ou danificação acidental, adotando as medidas técnicas ou organizativas adequadas (integridade e confidencialidade).</li>
              </ul>
              <p>O usuário do site possui os seguintes direitos, conferidos pela Lei de Proteção de Dados Pessoais e pela LGPD:</p>
              <ul class="list list--bullet">
                <li>Direito de confirmação e acesso: é o direito do usuário de obter do site a confirmação de que os dados pessoais que lhe digam respeito são ou não objeto de tratamento e, se for esse o caso, o direito de acessar os seus dados pessoais;</li>
                <li>Direito de retificação: é o direito do usuário de obter do site, sem demora injustificada, a retificação dos dados pessoais inexatos que lhe digam respeito;</li>
                <li>Direito à eliminação dos dados (direito ao esquecimento): é o direito do usuário de ter seus dados apagados do site;</li>
                <li>Direito à limitação do tratamento dos dados: é o direito do usuário de limitar o tratamento de seus dados pessoais, podendo obtê-la quando contesta a exatidão dos dados, quando o tratamento for ilícito, quando o site não precisar mais dos dados para as finalidades propostas e quando tiver se oposto ao tratamento dos dados e em caso de tratamento de dados desnecessários;</li>
                <li>Direito de oposição: é o direito do usuário de, a qualquer momento, se opor por motivos relacionados com a sua situação particular, ao tratamento dos dados pessoais que lhe digam respeito, podendo se opor ainda ao uso de seus dados pessoais para definição de perfil de marketing (profiling);</li>
                <li>Direito de portabilidade dos dados: é o direito do usuário de receber os dados pessoais que lhe digam respeito e que tenha fornecido ao site, num formato estruturado, de uso corrente e de leitura automática, e o direito de transmitir esses dados a outro site;</li>
                <li>Direito de não ser submetido a decisões automatizadas: é o direito do usuário de não ficar sujeito a nenhuma decisão tomada exclusivamente com base no tratamento automatizado, incluindo a definição de perfis (profiling), que produza efeitos na sua esfera jurídica ou que o afete significativamente de forma similar.</li>
              </ul>
              <p>O usuário poderá exercer os seus direitos por meio de comunicação escrita enviada ao site com o assunto “LGDP-https://gabrielaluxo.com.br”, especificando:</p>
              <ul class="list list--bullet">
                <li>Nome completo ou razão social, número do CPF (Cadastro de Pessoas Físicas, da Receita Federal do Brasil) ou CNPJ (Cadastro Nacional de Pessoa Jurídica, da Receita Federal do Brasil) e endereço de e-mail do usuário e, se for o caso, do seu representante;</li>
                <li>Direito que deseja exercer junto ao site;</li>
                <li>Data do pedido e assinatura do usuário;</li>
                <li>Todo documento que possa demonstrar ou justificar o exercício de seu direito.</li>
              </ul>
              <p>O pedido deverá ser enviado ao e-mail:&nbsp;<a href="mailto:contato@gabrielaluxo.com.br">contato@gabrielaluxo.com.br</a>, ou por correio, ao seguinte endereço:</p>
              <p>Dados Gabriela Luxo – Endereço local consta no site <a href="/">https://gabrielaluxo.com.br</a></p>
              <p>O usuário será informado em caso de retificação ou eliminação dos seus dados.</p>
            </li>
            <li class="content">
              <h2 class="headline headline--md" id="dever-de-nao-fornecer-dados-de-terceiros">Dever de não fornecer dados de terceiros</h2>
              <p>Durante a utilização do site, a fim de resguardar e de proteger os direitos de terceiros, o usuário do site deverá fornecer somente seus dados pessoais, e não os de terceiros.</p>
            </li>
            <li class="content">
              <h2 class="headline headline--md" id="informacoes-coletadas">Informações coletadas</h2>
              <p>A coleta de dados dos usuários se dará em conformidade com o disposto nesta Política de Privacidade, sendo que o Usuário está ciente de que fornece informação de forma consciente e voluntária por meio de site e/ou aplicativos operados pela Gabriela Luxo.</p>
              <ol>
                <li class="content">
                  <h3 class="headline headline--md">Tipos de dados coletados</h3>
                  <ol>
                    <li class="content">
                      <h4 class="headline headline--size-4">Dados informados no formulário de contato</h4>
                      <p>Os dados eventualmente informados pelo usuário que utilizar o formulário de contato disponibilizado no site, incluindo o teor da mensagem enviada, serão coletados e armazenados.</p>
                    </li>
                  </ol>
                </li>
                <li class="content">
                  <h3 class="headline headline--md">Fundamento jurídico para o tratamento dos dados pessoais</h3>
                  <p>Ao utilizar os serviços do site, o usuário está consentindo com a presente Política de Privacidade.</p>
                  <p>O usuário tem o direito de retirar seu consentimento a qualquer momento, não comprometendo a licitude do tratamento de seus dados pessoais antes da retirada. A retirada do consentimento poderá ser feita pelo e-mail:&nbsp;<a href="mailto:contato@gabrielaluxo.com.br">contato@gabrielaluxo.com.br</a></p>
                  <p>O consentimento dos relativamente ou absolutamente incapazes, especialmente de crianças menores de 18 (dezoito) anos, apenas poderá ser feito, respectivamente, se devidamente assistidos ou representados.</p>
                  <p>O tratamento de dados pessoais sem o consentimento do usuário apenas será realizado em razão de interesse legítimo ou para as hipóteses previstas em lei, ou seja, dentre outras, as seguintes:</p>
                  <ul class="list list--bullet">
                    <li>para o cumprimento de obrigação legal ou regulatória pelo controlador;</li>
                    <li>para a realização de estudos por órgão de pesquisa, garantida, sempre que possível, a anonimização dos dados pessoais;</li>
                    <li>quando necessário para a execução de contrato ou de procedimentos preliminares relacionados a contrato do qual seja parte o usuário, a pedido do titular dos dados;</li>
                    <li>para o exercício regular de direitos em processo judicial, administrativo ou arbitral, esse último nos termos da Lei nº 9.307, de 23 de setembro de 1996 (Lei de Arbitragem);</li>
                    <li>para a proteção da vida ou da incolumidade física do titular dos dados ou de terceiro;</li>
                    <li>para a tutela da saúde, em procedimento realizado por profissionais da área da saúde ou por entidades sanitárias;</li>
                    <li>quando necessário para atender aos interesses legítimos do controlador ou de terceiro, exceto no caso de prevalecerem direitos e liberdades fundamentais do titular dos dados que exijam a proteção dos dados pessoais;</li>
                    <li>para a proteção do crédito, inclusive quanto ao disposto na legislação pertinente.</li>
                  </ul>
                </li>
                <li class="content">
                  <h3 class="headline headline--md">Finalidades do tratamento dos dados pessoais</h3>
                  <p>Os dados pessoais do usuário coletados pelo site têm por finalidade facilitar, agilizar e cumprir os compromissos estabelecidos com o usuário e a fazer cumprir as solicitações realizadas por meio do preenchimento de formulários.</p>
                  <p>Os dados pessoais poderão ser utilizados também com uma finalidade comercial, para personalizar o conteúdo oferecido ao usuário, bem como para dar subsídio ao site para a melhora da qualidade e funcionamento de seus serviços.</p>
                  <p>O site recolhe os dados do usuário para que seja realizada definição de perfis (profiling), ou seja, tratamento automatizado de dados pessoais que consista em utilizar estes dados para avaliar certos aspectos pessoais do usuário, principalmente para analisar ou prever características relacionadas ao seu desempenho profissional, a sua situação econômica, saúde, preferências pessoais, interesses, fiabilidade, comportamento, localização ou deslocamento.</p>
                  <p>O tratamento de dados pessoais para finalidades não previstas nesta Política de Privacidade somente ocorrerá mediante comunicação prévia ao usuário, sendo que, em qualquer caso, os direitos e obrigações aqui previstos permanecerão aplicáveis.</p>
                  <p>A Gabriela Luxo apenas trata Dados Pessoais em situações em que está autorizada legalmente ou mediante o expresso e inequívoco consentimento do Usuário.</p>
                  <p>Conforme descrito na presente Política, a Gabriela Luxo tem bases legais para coletar, produzir, receptar, classificar, utilizar, acessar, reproduzir, transmitir, distribuir, processar, arquivar, armazenar, eliminar, avaliar ou controlar a informação, modificar, comunicar, transferir, difundir ou extrair dados sobre o Usuário.</p>
                  <p>As bases legais incluem seu consentimento e interesses legítimos, desde que tal processamento não viole seus direitos e liberdades, conforme se pode verificar na Tabela de Finalidade.</p>
                  <p>Tais interesses incluem proteger o Usuário e a Gabriela Luxo de ameaças, cumprir a legislação aplicável, o exercício regular de direito em processo judicial, administrativo ou arbitral, habilitar a realização ou administração dos negócios, incluindo controle de qualidade, relatórios e serviços oferecidos, gerenciar transações empresariais, entender e melhorar os negócios e relacionamentos com clientes e permitir que os usuário encontrem oportunidades econômicas.</p>
                  <p>O Usuário tem o direito de negar ou retirar o consentimento a Gabriela Luxo, quando esta for a base legal para tratamento dos dados pessoais, podendo a Gabriela Luxo encerrar a consecução de seus serviços para este usuário na hipótese de ocorrência de tal solicitação.</p>
                  <p>Caso tenha dúvidas sobre as bases legais para coleta, tratamento e armazenamento de seus dados pessoais, entre em contato com a Gabriela Luxo e seu Data Protection Officer por email:&nbsp;<a href="mailto:contato@gabrielaluxo.com.br">contato@gabrielaluxo.com.br</a></p>
                </li>
                <li class="content">
                  <h3 class="headline headline--md">Prazo de conservação dos dados pessoais</h3>
                  <p>Os dados pessoais do usuário serão conservados por um período não superior ao exigido para cumprir os objetivos em razão dos quais eles são processados.</p>
                  <p>O período de conservação dos dados são definidos de acordo com os seguintes critérios:</p>
                  <ul class="list list--bullet">
                    <li>localização ou cidade da qual nossa companhia não atua</li>
                    <li>perfil ou cargo que não fazem sentido para relacionamento comercial</li>
                    <li>baixa ou nenhuma abertura de e-mails</li>
                  </ul>
                  <p>Os dados pessoais dos usuários apenas poderão ser conservados após o término de seu tratamento nas seguintes hipóteses:</p>
                  <ul class="list list--bullet">
                    <li>para o cumprimento de obrigação legal ou regulatória pelo controlador;</li>
                    <li>para estudo por órgão de pesquisa, garantida, sempre que possível, a anonimização dos dados pessoais;</li>
                    <li>para a transferência a terceiro, desde que respeitados os requisitos de tratamento de dados dispostos na legislação;</li>
                    <li>para uso exclusivo do controlador, vedado seu acesso por terceiro, e desde que anonimizados os dados.</li>
                  </ul>
                  <ol>
                    <li class="content">
                      <h4 class="headline headline--size-4">Retenção de Dados</h4>
                      <p>A Gabriela Luxo retém todos os dados fornecidos, inclusive os Dados Pessoais, enquanto o cadastro do Usuário estiver ativo e conforme seja necessário para consecução de seus serviços e leis brasileiras as quais solicitem o armazenamento por um tempo determinado.</p>
                      <p>A Gabriela Luxo reterá Dados Pessoais e manterá seus dados armazenados até eventual requerimento de exclusão ou de acordo com os períodos descritos da Tabela de Finalidade.</p>
                      <p>A Gabriela Luxo poderá vir a manter seus Dados Pessoais após receber seu pedido de exclusão ou após os prazos da Tabela de Finalidade caso seja necessário para cumprimento de obrigações legais, resolver disputas, manter a segurança, evitar fraudes e abuso e garantir o cumprimento de contratos.</p>
                    </li>
                  </ol>
                </li>
                <li class="content">
                  <h3 class="headline headline--md">Destinatários e transferência dos dados pessoais</h3>
                  <p>A Gabriela Luxo poderá divulgar os Dados Pessoais coletados a terceiro, nas seguintes situações e nos limites exigidos e autorizados pela Lei:</p>
                  <ul class="list list--bullet">
                    <li>a) Com seus clientes e parceiros quando necessário e/ou apropriado à prestação de serviços relacionados;</li>
                    <li>b) Com as empresas e indivíduos contratados para execução de determinadas atividades e serviços em nome da Gabriela Luxo;</li>
                    <li>c) Com empresas do grupo;</li>
                    <li>e) Com fornecedores e parceiros para consecução dos serviços contratados pela Gabriela Luxo;</li>
                    <li>f) Para propósitos administrativos como: pesquisa, planejamento, desenvolvimento de serviços, segurança e gerenciamento de risco;</li>
                    <li>g) Quando necessário em decorrência de obrigação, determinação de autoridade competente ou decisão judicial.</li>
                  </ul>
                  <p>Nas hipóteses de compartilhamento de Dados Pessoais com terceiros, todos os sujeitos mencionados nos itens de a) até g) deverão utilizar os Dados Pessoais partilhados de maneira consistente e de acordo com os propósitos para os quais foram coletados (ou com os quais o Usuário consentiu previamente) e de acordo com que foi determinado por esta Política de Privacidade, outras declarações de privacidade de website ou países, e todas as leis privacidade e proteção de dados aplicáveis.</p>
                </li>
              </ol>
            </li>
            <li class="content">
              <h2 class="headline headline--md" id="do-tratamento-dos-dados-pessoais">Do tratamento dos dados pessoais</h2>
              <ol>
                <li class="content">
                  <h3 class="headline headline--md">Do responsável pelo tratamento dos dados (data controller)</h3>
                  <p>O controlador, responsável pelo tratamento dos dados pessoais do usuário, é a pessoa física ou jurídica, a autoridade pública, a agência ou outro organismo que, individualmente ou em conjunto com outras, determina as finalidades e os meios de tratamento de dados pessoais.</p>
                  <p>Neste site, o responsável pelo tratamento dos dados pessoais coletados é Dados Gabriela Luxo, que poderá ser contactado pelo e-mail:&nbsp;<a href="mailto:contato@gabrielaluxo.com.br">contato@gabrielaluxo.com.br</a>&nbsp;ou presencialmente no endereço: <a href="/">https://gabrielaluxo.com.br</a></p>
                  <p>O responsável pelo tratamento dos dados se encarregará diretamente do tratamento dos dados pessoais do usuário.</p>
                </li>
                <li class="content">
                  <h3 class="headline headline--md">Do encarregado de proteção de dados (data protection officer)</h3>
                  <p>O encarregado de proteção de dados (data protection officer) é o profissional encarregado de informar, aconselhar e controlar o responsável pelo tratamento dos dados, bem como os trabalhadores que tratem os dados, a respeito das obrigações do site nos termos do RGDP, da Lei de Proteção de Dados Pessoais e de outras disposições de proteção de dados presentes na legislação nacional e internacional, em cooperação com a autoridade de controle competente.</p>
                  <p>Neste site o encarregado de proteção de dados (data protection officer) é Dados Gabriela Luxo, que poderá ser contactado pelo e-mail:&nbsp;<a href="mailto:contato@gabrielaluxo.com.br">contato@gabrielaluxo.com.br</a>.</p>
                </li>
              </ol>
            </li>
            <li class="content">
              <h2 class="headline headline--md" id="seguranca-no-tratamento-dos-dados-pessoais-do-usuario">Segurança no tratamento dos dados pessoais do usuário</h2>
              <p>O site se compromete a aplicar as medidas técnicas e organizativas aptas a proteger os dados pessoais de acessos não autorizados e de situações de destruição, perda, alteração, comunicação ou difusão de tais dados.</p>
              <p>Para a garantia da segurança, serão adotadas soluções que levem em consideração: as técnicas adequadas; os custos de aplicação; a natureza, o âmbito, o contexto e as finalidades do tratamento; e os riscos para os direitos e liberdades do usuário.</p>
              <p>O site utiliza certificado SSL (Secure Socket Layer) que garante que os dados pessoais se transmitam de forma segura e confidencial, de maneira que a transmissão dos dados entre o servidor e o usuário, e em retroalimentação, ocorra de maneira totalmente cifrada ou encriptada.</p>
              <p>No entanto, o site se exime de responsabilidade por culpa exclusiva de terceiro, como em caso de ataque de hackers ou crackers, ou culpa exclusiva do usuário, como no caso em que ele mesmo transfere seus dados a terceiro. O site se compromete, ainda, a comunicar o usuário em prazo adequado caso ocorra algum tipo de violação da segurança de seus dados pessoais que possa lhe causar um alto risco para seus direitos e liberdades pessoais.</p>
              <p>A violação de dados pessoais é uma violação de segurança que provoque, de modo acidental ou ilícito, a destruição, a perda, a alteração, a divulgação ou o acesso não autorizados a dados pessoais transmitidos, conservados ou sujeitos a qualquer outro tipo de tratamento.</p>
              <p>Por fim, o site se compromete a tratar os dados pessoais do usuário com confidencialidade, dentro dos limites legais.</p>
            </li>
            <li class="content">
              <h2 class="headline headline--md" id="dados-de-navegacao">Dados de navegação (cookies)</h2>
              <p><i>Cookies</i>&nbsp;são pequenos arquivos de texto enviados pelo site ao computador do usuário e que nele ficam armazenados, com informações relacionadas à navegação do site.</p>
              <p>Por meio dos&nbsp;<i>cookies</i>, pequenas quantidades de informação são armazenadas pelo navegador do usuário para que nosso servidor possa lê-las posteriormente. Podem ser armazenados, por exemplo, dados sobre o dispositivo utilizado pelo usuário, bem como seu local e horário de acesso ao site.</p>
              <p>Os&nbsp;<i>cookies</i>&nbsp;não permitem que qualquer arquivo ou informação sejam extraídos do disco rígido do usuário, não sendo possível, ainda, que, por meio deles, se tenha acesso a informações pessoais que não tenham partido do usuário ou da forma como utiliza os recursos do site.</p>
              <p>É importante ressaltar que nem todo cookie contém informações que permitem a identificação do usuário, sendo que determinados tipos de&nbsp;<i>cookies</i>&nbsp;podem ser empregados simplesmente para que o site seja carregado corretamente ou para que suas funcionalidades funcionem do modo esperado.</p>
              <p>As informações eventualmente armazenadas em&nbsp;<i>cookies</i>&nbsp;que permitam identificar um usuário são consideradas dados pessoais. Dessa forma, todas as regras previstas nesta Política de Privacidade também lhes são aplicáveis.</p>
              <ol>
                <li class="content">
                  <h3 class="headline headline--md">Cookies de terceiros</h3>
                  <p>Alguns de nossos parceiros podem configurar&nbsp;<i>cookies</i>&nbsp;nos dispositivos dos usuário que acessam nosso site.</p>
                  <p>Estes&nbsp;<i>cookies</i>, em geral, visam possibilitar que nossos parceiros possam oferecer seu conteúdo e seus serviços ao usuário que acessa nosso site de forma personalizada, por meio da obtenção de dados de navegação extraídos a partir de sua interação com o site.</p>
                  <p>O usuário poderá obter mais informações sobre os&nbsp;<i>cookies</i>&nbsp;de terceiro e sobre a forma como os dados obtidos a partir dele são tratados, além de ter acesso à descrição dos&nbsp;<i>cookies</i>&nbsp;utilizados e de suas características, acessando o seguinte link:</p>
                  <ul class="list list--bullet">
                    <li>Google Analytics&nbsp;<a href="https://policies.google.com/privacy?hl=pt-BR" target="_blank" rel="noreferrer noopener">https://policies.google.com/privacy?hl=pt-BR</a></li>
                  </ul>
                  <p>As entidades encarregadas da coleta dos&nbsp;<i>cookies</i>&nbsp;poderão ceder as informações obtidas a terceiros.</p>
                </li>
                <li class="content">
                  <h3 class="headline headline--md">Cookies de redes sociais</h3>
                  <p>O site utiliza plugins de redes sociais, que permitem acessá-las a partir do site. Assim, ao fazê-lo, os&nbsp;<i>cookies</i>&nbsp;utilizados por elas poderão ser armazenados no navegador do usuário.</p>
                  <p>Cada rede social possui sua própria política de privacidade e de proteção de dados pessoais, sendo as pessoas físicas ou jurídicas que as mantêm responsáveis pelos dados coletados e pelas práticas de privacidade adotadas.</p>
                  <p>O usuário pode pesquisar, junto às redes sociais, informações sobre como seus dados pessoais são tratados. A título informativo, disponibilizamos os seguintes links, a partir dos quais poderão ser consultadas as políticas de privacidade e de&nbsp;<i>cookies</i>&nbsp;adotadas por algumas das principais redes sociais:</p>
                  <ul class="list list--bullet">
                    <li>Facebook:&nbsp;<a href="https://www.facebook.com/policies/cookies/" target="_blank" rel="noreferrer noopener">https://www.facebook.com/policies/cookies/</a></li>
                    <li>Twitter:&nbsp;<a href="https://twitter.com/pt/privacy" target="_blank" rel="noreferrer noopener">https://twitter.com/pt/privacy</a></li>
                    <li>Youtube:&nbsp;<a href="https://policies.google.com/privacy?hl=pt-BR" target="_blank" rel="noreferrer noopener">https://policies.google.com/privacy?hl=pt-BR</a></li>
                    <li>LinkedIn:&nbsp;<a href="https://www.linkedin.com/legal/cookie-policy" target="_blank" rel="noreferrer noopener">https://www.linkedin.com/legal/cookie-policy</a></li>
                    <li>Instagram: <a href="https://www.facebook.com/help/instagram/155833707900388" target="_blank" rel="noreferrer noopener">https://www.facebook.com/help/instagram/155833707900388</a></li>
                  </ul>
                </li>
                <li class="content">
                  <h3 class="headline headline--md">Gestão dos&nbsp;<i>cookies</i>&nbsp;e configurações do navegador</h3>
                  <p>O usuário poderá se opor ao registro de&nbsp;<i>cookies</i>&nbsp;pelo site, bastando que desative esta opção no seu próprio navegador ou aparelho.</p>
                  <p>A desativação dos&nbsp;<i>cookies</i>, no entanto, pode afetar a disponibilidade de algumas ferramentas e funcionalidades do site, comprometendo seu correto e esperado funcionamento. Outra consequência possível é remoção das preferências do usuário que eventualmente tiverem sido salvas, prejudicando sua experiência.</p>
                  <p>A seguir, são disponibilizados alguns links para as páginas de ajuda e suporte dos navegadores mais utilizados, que poderão ser acessadas pelo usuário interessado em obter mais informações sobre a gestão de&nbsp;<i>cookies</i>&nbsp;em seu navegador:</p>
                  <ul class="list list--bullet">
                    <li>Microsoft Internet Explorer (Windows):<br /> <a href="https://support.microsoft.com/pt-br/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank" rel="noreferrer noopener">https://support.microsoft.com/pt-br/help/17442/windows-internet-explorer-delete-manage-cookies</a></li>
                    <li>Microsoft Edge (Windows/macOS):<br /><a href="https://support.microsoft.com/pt-br/help/4027947" target="_blank" rel="noreferrer noopener">https://support.microsoft.com/pt-br/help/4027947</a></li>
                    <li>Apple Safari (macOS):<br /><a href="https://support.apple.com/pt-br/guide/safari/sfri11471/mac" target="_blank" rel="noreferrer noopener">https://support.apple.com/pt-br/guide/safari/sfri11471/mac</a></li>
                    <li>Apple Safari (iOS/iPadOS):<br /><a href="https://support.apple.com/pt-br/HT201265" target="_blank" rel="noreferrer noopener">https://support.apple.com/pt-br/HT201265</a></li>
                    <li>Google Chrome (Windows/macOS/iOS/iPadOS/Linux/Android):<br /><a href="https://support.google.com/chrome/answer/95647" target="_blank" rel="noreferrer noopener">https://support.google.com/chrome/answer/95647</a></li>
                    <li>Mozilla Firefox (Windows/macOS/Linux):<br /><a href="https://support.mozilla.org/pt-BR/kb/ative-e-desative-os-cookies-que-os-sites-usam" target="_blank" rel="noreferrer noopener">https://support.mozilla.org/pt-BR/kb/ative-e-desative-os-cookies-que-os-sites-usam</a></li>
                  </ul>
                </li>
              </ol>
            </li>
            <li class="content">
              <h2 class="headline headline--md" id="manter-os-dados-pessoais-do-usuario-em-seguranca">Manter os dados pessoais do Usuário em segurança</h2>
              <p>Estamos empenhados em proteger os dados pessoais dos nossos Usuários. Implementamos medidas técnicas e organizacionais para ajudar a proteger a segurança dos seus dados pessoais; contudo, tenha ciência de que nenhum sistema é completamente seguro. As medidas de segurança implementadas consideram, como prevê a Lei, a natureza dos dados e de tratamento, os riscos envolvidos, a tecnologia existente e sua disponibilidade.</p>
            </li>
            <li class="content">
              <h2 class="headline headline--md" id="das-alteracoes">Das alterações</h2>
              <p>A presente versão desta Política de Privacidade foi atualizada pela última vez em: <time datetime="2023-04-19">19/04/2023</time>.</p>
              <p>A Gabriela Luxo se reserva o direito de modificar, a qualquer momento o site as presentes normas, especialmente para adaptá-las às evoluções do site Gabriela Luxo, seja pela disponibilização de novas funcionalidades, seja pela supressão ou modificação daquelas já existentes.</p>
              <p>Ao utilizar o serviço após eventuais modificações, o usuário demonstra sua concordância com as novas normas. Caso discorde de alguma das modificações, deverá interromper, imediatamente, o acesso ao site e apresentar a sua ressalva ao serviço de atendimento, se assim o desejar.</p>
            </li>
            <li class="content">
              <h2 class="headline headline--md" id="do-direito-aplicavel-e-do-foro">Do Direito aplicável e do foro</h2>
              <p>Está política está sujeita à lei da República Federativa do Brasil e o Foro da Comarca de Barueri é competente para dirimir qualquer controvérsia com relação à mesma.</p>
              <p>Em caso de incidente com Dados Pessoais, a Gabriela Luxo, desde já, se reserva o direito de nomear Câmara de Mediação apta para dirimir as questões envolvendo os Usuários titulares dos dados, nos termos do artigo 52, parágrafo 7º da LGPD.</p>
            </li>
          </ol>
        </div>
        <div class="politica-de-privacidade__table">
          <div class="politica-de-privacidade__table__wrapper">
            <table>
              <thead>
                <tr>
                  <th class="headline headline--size-6">Dados</th>
                  <th class="headline headline--size-6">Finalidade</th>
                  <th class="headline headline--size-6">Base legal</th>
                  <th class="headline headline--size-6">Fundamento Jurídico</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Nome, Email e Empresa</td>
                  <td>Para poder acessar conteúdos e receber material promocional, a Gabriela Luxo necessitará que o Usuário forneça seu Nome, Email e em qual empresa trabalha. A Gabriela Luxo vai enviar Email Marketing para os usuários que fornecerem essas informações. Os Dados Pessoais coletados não serão utilizados para o envio de qualquer tipo de SPAM</td>
                  <td>Consentimento</td>
                  <td>Estou de acordo em fornecer meu Nome, Email e qual Empresa eu trabalho para acessar material disponibilizado no site, além de receber Newsletter da Gabriela Luxo e demais emails marketing. Estou ciente de que meus dados fornecidos serão utilizados internamente para fins promocionais pela Gabriela Luxo e concordo com o recebimento de e-mails da Gabriela Luxo</td>
                </tr>
                <tr>
                  <td>Nome, Email e Empresa</td>
                  <td>Caso o Usuário queira entrar em contato com a Gabriela Luxo por meio da área de "Contato" disponível no site, a Gabriela Luxo necessitará coletar Nome e Email para poder contatar o Usuário</td>
                  <td>Consentimento</td>
                  <td>Estou de acordo em fornecer meu Nome e Email para que a Gabriela Luxo entre em contato comigo, bem como ciente de que esses dados serão utilizados pelas áreas de Marketing e Comercial da Gabriela Luxo para o envio de emails</td>
                </tr>
                <tr>
                  <td>Nome, Email e Currículo</td>
                  <td>Para poder candidatar a alguma das vagas anunciadas pela Gabriela Luxo, o Usuário precisará fornecer para cadastro seu Nome, Email. Os dados coletados serão utilizados para realização do processo seletivo</td>
                  <td>Legítimo Interesse e Consentimento</td>
                  <td>Estou de acordo em fornecer meu Nome, Email e demais informações contidas no meu currículo para área de RH da Gabriela Luxo para candidatar a uma ou mais vagas disponíveis na Gabriela Luxo que eventualmente poderão ser utilizados em um Contrato de Trabalho. Estou ciente de que meus Dados Pessoais serão utilizados para realização do processo seletivo.</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

{{ end }}

{{ define "inline-style" }}
  <style>
    body, html {
      overflow-x: inherit;
    }
  </style>
{{ end }}