<!DOCTYPE html>
<html lang="{{ $.Site.Language.Lang }}">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  
  <title>{{ if .IsHome }}{{ .Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
  <meta name="description" content="{{ .Description }}" />
  
  {{ if .Params.noindex }}
  <meta name="robots" content="noindex" />
  {{ end }}
  
  <link rel="preload" href="/fonts/montserrat-regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/fonts/opensans-light.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="/fonts/opensans-semibold.woff2" as="font" type="font/woff2" crossorigin>

  {{ $style := resources.Get "css/style.css" | postCSS | fingerprint "sha512" }}
  <link rel="stylesheet" href="{{ $style.RelPermalink | safeURL }}" />
  
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ if .IsHome }}{{ .Title }}{{ else }}{{ .Title }} - {{ .Site.Title }}{{ end }}" />
  <meta property="og:description" content="{{ .Description }}" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:image" content="{{ .Site.BaseURL }}/opengraph.png" />
  
  <meta name="theme-color" content="#090909" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="canonical" href="{{ .Permalink }}" />

  {{ partial "schema.html" . }}

  {{ block "inline-style" . }}{{ end }}
</head>
<body class="body" id="body">
  <a class="button button--white skip-to-main visually-hidden" href="#main">Pular para o conteúdo</a>

  <a class="whatsapp-pin" href="https://api.whatsapp.com/send?phone=551141169700" target="_blank" rel="noopener">
    {{ partial "svg.html" (dict "viewBox" "0 0 24 24" "src" "/icons/whatsapp.svg") }}
    <span class="visually-hidden">Agendar consultar</span>
  </a>
  
  {{ partial "header.html" . }}
  
  <main class="main" id="main">
    {{ block "main" . }}{{ end }}
  </main>

  {{ partial "footer.html" . }}
  
  <a class="button button--white back-to-top visually-hidden" href="#body">Voltar ao topo</a>
  
  {{ $javascript := resources.Get "js/script.js" | js.Build "js/bundle.js" | resources.Minify }}
  {{ $secureJS := $javascript | resources.Fingerprint "sha512" }}
  <script src="{{ $secureJS.RelPermalink | safeURL }}" defer integrity="{{ $secureJS.Data.Integrity }}"></script>

  {{ if not (in (.Site.BaseURL | string) "localhost") }}
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-P6BR4BH');</script>
  <!-- End Google Tag Manager -->

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P6BR4BH"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {{ end }}
</body>
</html>
