<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "LocalBusiness",
    "name": "Gabriela Luxo",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Rua Voluntários da Pátria, 2468, Conj. 214 | Santana - São Paulo/SP | CEP: 02401-000",
      "addressLocality": "São Paulo",
      "addressRegion": "SP",
      "addressCountry": "Brazil"
    },
    "telephone": "+55 (11) 4116-9700",
    "openingHoursSpecification": [
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [
          "Monday",
          "Thursday"
        ],
        "opens": "09:00",
        "closes": "18:00"
      },
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": "Friday",
        "opens": "09:00",
        "closes": "17:00"
      }
    ]
  }
</script>