{{ define "main" }}
	<section class="section hero">
		<div class="container">
			<div class="grid">
				<div class="content content--expansive">
					<h1 class="display display--lg">Olá, eu sou a Gabriela Luxo.</h1>
					<p>Quero conversar com você sobre um autocuidado importante: a sua saúde mental. Há quanto tempo você não pensa nisso?</p>
					<a class="button button--black" target="_blank" rel="noopener" href="https://api.whatsapp.com/send?phone=551141169700">Agendar consulta</a>
				</div>
				<div class="content">
					<picture class="fill-mobile-container hide-at-desktop hide-at-tablet">
						<img src="/images/img-hero.jpg" alt="Gabriela Luxo" loading="lazy" width="768" height="887" />
					</picture>
				</div>
			</div>
		</div>
	</section>

	<section class="section talvez-voce-tenha-metas">
		<div class="container">
			<div class="stack">
				<div class="text-center">
					<h2 class="headline headline--lg">Talvez você tenha metas que deseja atingir, como:</h2>
				</div>
				<ul>
					<li>
						<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" aria-hidden="false" fill="none">
							<circle cx="71.8756" cy="130.375" r="20.525" stroke="#6A5044" stroke-width="2" stroke-dasharray="7.19 7.19" />
							<circle cx="49.325" cy="152.925" r="12.325" stroke="#6A5044" stroke-width="2" stroke-dasharray="7.19 7.19" />
							<circle cx="114.925" cy="81.175" r="47.175" stroke="#6A5044" stroke-width="2" stroke-dasharray="7.19 7.19" />
						</svg>
						<p>Alcançar o sucesso profissional</p>
					</li>
					<li>
						<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" aria-hidden="false" fill="none">
							<mask id="path-1-inside-1_508_1281" fill="white">
								<path
									d="M100.4 43.2C89.0474 43.2 77.9497 46.5665 68.5103 52.8736C59.0709 59.1808 51.7138 68.1455 47.3693 78.634C43.0248 89.1225 41.8881 100.664 44.1029 111.798C46.3177 122.933 51.7845 133.16 59.8121 141.188C67.8396 149.215 78.0673 154.682 89.2018 156.897C100.336 159.112 111.878 157.975 122.366 153.631C132.855 149.286 141.819 141.929 148.126 132.49C154.434 123.05 157.8 111.953 157.8 100.6L100.4 100.6L100.4 43.2Z" />
							</mask>
							<path
								d="M100.4 43.2C89.0474 43.2 77.9497 46.5665 68.5103 52.8736C59.0709 59.1808 51.7138 68.1455 47.3693 78.634C43.0248 89.1225 41.8881 100.664 44.1029 111.798C46.3177 122.933 51.7845 133.16 59.8121 141.188C67.8396 149.215 78.0673 154.682 89.2018 156.897C100.336 159.112 111.878 157.975 122.366 153.631C132.855 149.286 141.819 141.929 148.126 132.49C154.434 123.05 157.8 111.953 157.8 100.6L100.4 100.6L100.4 43.2Z"
								stroke="#6A5044"
								stroke-width="4"
								stroke-dasharray="7.19 7.19"
								mask="url(#path-1-inside-1_508_1281)" />
						</svg>
						<p>Ter as relações familiares saudáveis</p>
					</li>
					<li>
						<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" aria-hidden="false" fill="none">
							<path d="M49.25 101.3L100.143 152.247L151.036 101.3" stroke="#6A5044" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="7.19 7.19" />
							<circle cx="70.775" cy="79.775" r="30.775" stroke="#6A5044" stroke-width="2" stroke-dasharray="7.19 7.19" />
							<circle cx="130.224" cy="79.775" r="30.775" stroke="#6A5044" stroke-width="2" stroke-dasharray="7.19 7.19" />
						</svg>
						<p>Sentir mais segurança ao tomar decisões</p>
					</li>
					<li>
						<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg" aria-hidden="false" fill="none">
							<circle cx="78.175" cy="100.175" r="47.175" stroke="#6A5044" stroke-width="2" stroke-dasharray="7.19 7.19" />
							<circle cx="121.225" cy="100.175" r="47.175" stroke="#6A5044" stroke-width="2" stroke-dasharray="7.19 7.19" />
						</svg>
						<p>Aproveitar o melhor que a vida oferece</p>
					</li>
				</ul>
			</div>
		</div>
	</section>

	<section class="section alguns-problemas">
		<div class="container">
			<div class="stack">
				<div class="text-center alguns-problemas__top-content">
					<h2 class="headline headline--lg">Alguns problemas podem atrapalhar a sua evolução...</h2>
				</div>
				<ul class="text-center alguns-problemas__list">
					<li class="headline headline--lg">Sentimento de culpa</li>
					<li class="headline headline--lg">Ansiedade</li>
					<li class="headline headline--lg">Desafios no trabalho</li>
					<li class="headline headline--lg">Insônia</li>
				</ul>
				<div class="text-center alguns-problemas__bottom-content">
					<p class="headline headline--md">Você quer romper esse ciclo e alcançar a qualidade de vida que merece? Eu posso te ajudar a chegar ao <strong>ponto de equilíbrio.</strong></p>
				</div>
			</div>
		</div>
	</section>

	<section class="section gabriela-luxo">
		<div class="container container--tick">
			<div class="grid grid--reverse">
				<div class="content" style="--column: span 3">
					<h2 class="headline headline--lg"><span>Lembre-se:</span> <strong>luxo</strong> é buscar autoconhecimento de forma leve e segura!</h2>
				</div>
				<div class="content" style="--column: span 2">
					<picture class="fill-mobile-container hide-at-desktop hide-at-tablet">
						<img src="/images/img-gabriela-luxo.jpg" alt="Gabriela Luxo" loading="lazy" width="768" height="887" />
					</picture>
				</div>
			</div>
		</div>
	</section>

	<div class="parallax-animation">
		<section class="section sobre">
			<div class="sobre-background"></div>
			<div class="sobre-content">
				<div class="container container--narrow">
					<div class="stack">
						<h2 class="headline headline--lg">Estou há mais de 15 anos conectando pessoas com o sucesso pessoal e profissional.</h2>
						<div class="content">
							<p>Formada em Psicologia pela Universidade Presbiteriana Mackenzie.</p>
							<p>Pós-graduada em: Psicopedagogia pela Universidade Presbiteriana Mackenzie; Terapia Cognitivo-Comportamental pela PUC-RS e em Psicologia Positiva pela PUC-RS.</p>
							<p>Mestre e Doutora em Distúrbios do Desenvolvimento pela Universidade Presbiteriana Mackenzie.</p>
							<p>Fundadora da empresa Diálogo Positivo.</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="section vamos-conversar">
			<picture class="vamos-conversar-background">
				<source media="(min-width: 1048px)" srcset="/images/bg-vamos-conversar.webp" />
				<img src="/images/bg-vamos-conversar-mobile.webp" alt="Escritório Gabriela Luxo" loading="lazy" width="1440" height="1050" />
			</picture>
			<div class="vamos-conversar-vignette"></div>
			<div class="vamos-conversar-content">
				<div class="container">
					<div class="content text-center">
						<h2 class="headline headline--lg">Vamos conversar?</h2>
						<a class="button button--white" target="_blank" rel="noopener" href="https://api.whatsapp.com/send?phone=551141169700">Agendar consulta</a>
					</div>
				</div>
			</div>
		</section>
	</div>

	<section class="section na-midia">
		<div class="container">
			<div class="stack stack--expansive">
				<h2 class="headline headline--md text-center">Pontos de destaque na mídia:</h2>
				<ul>
					<li>
						<a href="https://revistacrescer.globo.com/pre-adolescentes/comportamento/noticia/2023/01/redes-sociais-podem-fazer-com-que-as-criancas-odeiem-seus-proprios-corpos.ghtml" aria-label="Acessar matéria da Globo.com" target="_blank" rel="noopener">
							{{ partial "svg.html" (dict "viewBox" "0 0 129 64" "src" "/vectors/logo-globo.svg") }}
						</a>
					</li>
					<li>
						<a href="https://www.youtube.com/watch?v=1PKpi7HEB4w" aria-label="Acessar matéria da CBN" target="_blank" rel="noopener">
							{{ partial "svg.html" (dict "viewBox" "0 0 77 64" "src" "/vectors/logo-cbn.svg") }}
						</a>
					</li>
					<li>
						<a href="https://youtu.be/kqYXHqqOAuc" aria-label="Acessar matéria da Gazeta" target="_blank" rel="noopener">
							{{ partial "svg.html" (dict "viewBox" "0 0 64 64" "src" "/vectors/logo-gazeta.svg") }}
						</a>
					</li>
					<li>
						<a href="https://epopnaweb.com.br/psicologa-apresenta-o-seu-novo-metodo-de-atendimento-e-sonha-em-ajudar-o-maior-numero-de-pessoas/" aria-label="Acessar matéria do Terra" target="_blank" rel="noopener">
							{{ partial "svg.html" (dict "viewBox" "0 0 127 64" "src" "/vectors/logo-terra.svg") }}
						</a>
					</li>
					<li>
						<a href="https://noticias.r7.com/saude/fotos/entenda-em-sete-pontos-o-que-e-o-descontrole-emocional-e-como-ele-pode-afetar-suas-relacoes-15062023#/foto/1" aria-label="Acessar matéria do R7" target="_blank" rel="noopener">
							{{ partial "svg.html" (dict "viewBox" "0 0 64 64" "src" "/vectors/logo-r7.svg") }}
						</a>
					</li>
					<li>
						<a href="https://www.nationalgeographicbrasil.com/ciencia/2023/02/5-habitos-que-podem-te-ajudar-a-reduzir-o-estresse" aria-label="Acessar matéria da National Geographic" target="_blank" rel="noopener">
							{{ partial "svg.html" (dict "viewBox" "0 0 137 64" "src" "/vectors/logo-national-geographic.svg") }}
						</a>
					</li>
					<li>
						<a href="https://youtu.be/fjRM_OWJPuw" aria-label="Acessar matéria Joven Pan" target="_blank" rel="noopener">
							{{ partial "svg.html" (dict "viewBox" "0 0 64 64" "src" "/vectors/logo-jp.svg") }}
						</a>
					</li>
					<li>
						<a href="https://www.estadao.com.br/emais/bem-estar/sindrome-do-impostor-em-relacionamentos-por-que-voce-teme-ser-amado/" aria-label="Acessar matéria do Estadão" target="_blank" rel="noopener">
							{{ partial "svg.html" (dict "viewBox" "0 0 143 64" "src" "/vectors/logo-estadao.svg") }}
						</a>
					</li>
					<li>
						<a href="https://canaltech.com.br/saude/tdah-entenda-o-transtorno-de-defict-de-atencao-que-tambem-pode-atingir-adultos-181421/" aria-label="Acessar matéria do CanalTech" target="_blank" rel="noopener">
							{{ partial "svg.html" (dict "viewBox" "0 0 159 64" "src" "/vectors/logo-canaltech.svg") }}
						</a>
					</li>
					<li>
						<a href="https://cosmopolitam.com.br/conheca-a-trajetoria-de-sucesso-da-dra-gabriela-luxo/" aria-label="Acessar matéria da Cosmopolitam" target="_blank" rel="noopener">
							{{ partial "svg.html" (dict "viewBox" "0 0 138 64" "src" "/vectors/logo-cosmopolitam.svg") }}
						</a>
					</li>

					<li>
						<a href="https://www.uol.com.br/splash/noticias/2023/01/23/relacionamento-abusivo-bbb-23.htm" aria-label="Acessar matéria do Uol" target="_blank" rel="noopener">
							{{ partial "svg.html" (dict "viewBox" "0 0 94 64" "src" "/vectors/logo-uol.svg") }}
						</a>
					</li>
					<li>
						<a href="https://istoe.com.br/voce-sentou-nas-pernas-dele-ex-responsabiliza-dania-por-importunacao-sexual-e-especialista-analisa/" aria-label="Acessar matéria da Isto é Gente" target="_blank" rel="noopener">
							{{ partial "svg.html" (dict "viewBox" "0 0 90 64" "src" "/vectors/logo-isto-e-gente.svg") }}
						</a>
					</li>
				</ul>
			</div>
		</div>
	</section>
{{ end }}
